<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpdReaderWriterDll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SpdReaderWriterDll.Properties.Settings>
            <setting name="DLLVERSION" serializeAs="String">
                <value>20210311</value>
            </setting>
            <setting name="MINVERSION" serializeAs="String">
                <value>20210204</value>
            </setting>
        </SpdReaderWriterDll.Properties.Settings>
    </applicationSettings>
</configuration>